body{
    background: -webkit-linear-gradient(left, #231aa3, #54bedb);
}

.homeTitle h1{ 
    font-size: 50px;
    background-color: white;
    color:black;
    position: relative;
    /* font-family: sans-serif; */
    padding: 60px; 
    margin-bottom:100px;
}

.loginBox input{   
    position: relative;   
    width: 90%;
    padding: 15px 2px;  
    margin-bottom :10px;
    margin-left :30px; 
    font-size: 20px;
}

img{
    border-radius: 8px;
    /* position: relative;   */
    width: 20%;
}

button{ 
    /* margin: auto; */
    /* width: 80%; */
    padding: 10px 10px; 
    margin-bottom :10px;
    margin-left :40px;
    font-size: 20px;
    background-color: #231aa3;
    color: white; 
}

.Radio{  
    position: relative;
    padding: 10px 10px;
    margin-left :30px; 
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(48, 46, 46);
}

.loginBox h1{ 
    position: relative; 
    text-align: center;  
    /* background-color: gray; */
    /* color:white; */
    font-size: 45px;
} 

.login{
    border-radius: 1rem;
    background-color: white;
    margin: auto;
    width: 50%;
    border: 2px solid darkgray;
    padding: 50px 50px; 
}

.login.loginBox input{
    padding: 10px 20px; 
    width: 100%;
}

.showPhoto{ 
    position: relative; 
    padding: 10px 20px; 
}
 